body {
 background-color: #0A184F;
 color: white;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: auto;
}


.flex-container2 {
  display: flex;
  justify-content: center;
  height: 500px;
}
.flex-container2 > div {
  color: white;
  width: 550px;
  margin: 7px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.flex-container3 {
  display: flex;
  justify-content: center;
  height: 600px;
}
.flex-container3 > div {
  color: white;
  width: 1100px;
  margin: 7px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.flex-container {
  display: flex;
  justify-content: center;
  height: 800px;
}

.flex-container > div {
  color: white;
  width: 1100px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}

.navbar {
  overflow: hidden;
  background-color: #0A184F;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.flex-container4 {
  display: flex;
  justify-content: center;
  height: 100px;
}
.flex-container4 > div {
  color: white;
  width: 70px;
  margin: 7px;
  text-align: center;
}
