body {
 background-color: #1a1a2e ;
 color: white;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}


.sticky {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
}
.file-container7{
  display: flex;
  justify-content: center;
  width:100%

}
.flex-container7 > div {
  background-color: #8C92AC;
  align-items: center;
  height: 900px
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.flex-container5 {
  display: flex;
  justify-content: center;
  height: 900px;
}
.flex-container5 iframe{
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

}
.flex-container5 > div {
  color: white;
  width: 1100px;
  margin: 7px;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
}
.flex-container2 {
  display: flex;
  justify-content: center;
  height: 500px;
}
.flex-container2 > div {
  color: white;
  width: 550px;
  margin: 7px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  text-align: left;
}

.flex-container3 {
  display: flex;
  justify-content: center;
  height: 600px;
}
.flex-container3 > div {
  color: white;
  width: 1100px;
  margin: 7px;
  line-height: 40px;
  font-size: 25px;
  text-align: left;
}
.flex-container {
  display: flex;
  justify-content: center;
  height: 1100px;
  text-align: left;
}

.flex-container iframe{
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.flex-container > div {
  color: white;
  width: 1100px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;

}
.navFlexContainter{
  display:flex;
  height:30px;
  position:fixed;
  right: 0;


}
.navbar {
  overflow: hidden;
  height = 30px;




}

.navbar a {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.flex-container4 {
  display: flex;
  justify-content: center;
  height: 100px;

}
.flex-container4 > div {
  color: white;
  width: 100px;
  margin: 7px;

  text-align: left;
  -webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;

}
.p4{
  border-left: 5px solid #8C92AC;
}
.cscontainer{
  display: flex;
  justify-content: center;
  height: 600px;
  flex-direction: column;
  align-items: center;

}
.csinsidecontainer {
  display: flex;
  justify-content: center;
  height: 900px;
  width: 1400px;

}

.cscontainer2 {
  display: flex;
  justify-content: center;
  height: 600px;
  flex-direction: column;
  align-items: center;

}
.cscontainer2 iframe{
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.csinsidecontainer > div {
  width: 366px;
  background-image: none;
}
